@page "/NewTeam"
@using PokeTeamBuilder.Core
@inject HttpClient Http



<PageTitle>Select your team</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Your team:</MudText>

<h2>Click each pokemon to edit their details</h2>
@foreach (var image in PokemonTeamDetails)
{
    <img Src="@image" Alt="image of your pokemon" />
}
<MudButton @onclick="() => DeleteTeam()">Delete Team?</MudButton>

@*@foreach (var mon in PokemonTeam)
{

    <MudCard>
        <MudCardContent>
            <MudText>@mon</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Insert remove button here</MudButton>
        </MudCardActions>
    </MudCard>
}*@


<br>
<h2>Choose your team from the following:</h2>
@if (_pokemons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var pokemon in _pokemons.Results)
    {

        <MudImage Src=@pokemon.Url Alt="image of respective pokemon" />
        <MudPaper Width="200px">
            <MudList Clickable="true">
                <MudButton @onclick="() => AddToTeam(pokemon.Name, pokemon.Url)">Add @pokemon.Name to team.</MudButton>
            </MudList>
        </MudPaper>

    }

    <p>There are @_pokemons.Count total pokemon.</p>
    <br />
    <p>@($"These are pokemon {offset} through {offset + 20}, going by Pokedex number")</p>
    <br />
    <MudButton @onclick="() => PreviousButton()">Previous</MudButton>
    <MudButton @onclick="() => NextButton()">Next</MudButton>


}



@*
<h1>Pokemon</h1>

<p></p>

@if (pokemons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var n in pokemons.results)
    {
        <div class="card" style="width: 18rem;">
            <img src=@n.url class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@n.name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }


    @pokemons.count
    <br />

    @offset
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int b = 0; b < pokemons.count; b += 20)
            {
                int local_b = b;
                <li class="page-item"><button class="page-link" @onclick="() => Paginate(local_b)">@b</button></li>
            }
        </ul>
    </nav>
}*@


