@page "/NewTeam"
@using PokeTeamBuilder.Core
@inject HttpClient Http



<PageTitle>Select your team</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Your team:</MudText>

<h2>Click each pokemon to edit their details</h2>
@foreach (var image in PokemonTeamDetails)
{
    <img @onclick="() => Toggle(image)" Src="@image" Alt="image of your pokemon" />
}


<MudCard hidden="@(HideLabel1)">
    <MudCardContent>
        <MudText>@PokemonTeam[0]</MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(HideLabel2)">
    <MudCardContent>
        <MudText>@PokemonTeam[1]</MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(HideLabel3)">
    <MudCardContent>
        <MudText>@PokemonTeam[2]</MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(HideLabel4)">
    <MudCardContent>
        <MudText>@PokemonTeam[3]</MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(HideLabel5)">
    <MudCardContent>
        <MudText>@PokemonTeam[4]</MudText>
    </MudCardContent>
</MudCard>
<MudCard hidden="@(HideLabel6)">
    <MudCardContent>
        <MudText>@PokemonTeam[5]</MudText>
    </MudCardContent>
</MudCard>

<MudCard>
    <MudCardActions>
        <MudButton @onclick="() => DeleteTeam()">Delete Team?</MudButton>
    </MudCardActions>
</MudCard>

<br />
<h2>Choose your team from the following:</h2>
<br />
<p>@($"These are pokemon {offset} through {offset + 20}, going by Pokedex number:")</p>
<br />
@if (_pokemons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var pokemon in _pokemons.Results)
    {

        <MudImage Src=@pokemon.Url Alt="image of respective pokemon" />
        <MudPaper Width="200px">
            <MudList Clickable="true">
                <MudButton @onclick="() => AddToTeam(pokemon.Name, pokemon.Url)">Add @pokemon.Name to team.</MudButton>
            </MudList>
        </MudPaper>

    }
    <br />
    <p>There are @_pokemons.Count total pokemon.</p>
    <br />

    <br />
    <MudButton @onclick="() => PreviousButton()">Previous</MudButton>
    <MudButton @onclick="() => NextButton()">Next</MudButton>
}