@page "/NewTeam"
@using PokeTeamBuilder.Core
@inject HttpClient Http

<PageTitle>Select your team</PageTitle>
<h1>Team Builder</h1>


@if (SelectedPokemon.Count != 0)
{
    <h2>Click each pokemon to edit their details</h2>
    <br />
}

@foreach (var mon in SelectedPokemon)
{
    if (SelectedPokemon != null)
    {
        <img @onclick="() => CurrentMon = mon" Src="@mon.PokemonsSprite" Alt="image of your pokemon" />
    }
}
@if (SelectedPokemon.Count == 6)
{
    <MudButton @onclick="() => SaveTeam()">Save Team</MudButton>
}

<br />
<MudDivider />

<MudTextField @bind-Value="TeamName" Label="TeamName" Variant="Variant.Text"></MudTextField>

<br />


@if (CurrentMon != null)
{
    <MudCard>
        <MudCardContent>
            <MudText>Pokemon Name: @CurrentMon.Name</MudText>
            <br />
            <EditForm Model="@CurrentMon">
                <InputSelect @bind-Value=@CurrentMon.MyAbility>
                    <option disabled selected value> -- select an ability -- </option>
                    @foreach (var ability in CurrentMon.PokemonsAbilites)
                    {
                        <option value="@ability.ability.name">@ability.ability.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove1>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove2>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove3>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove4>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyHeld_Item>
                    <option disabled selected value> -- select an item-- </option>
                    @foreach (var item in items)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyNature> 
                    <option disabled selected value> -- select a nature-- </option>
                    @foreach (var nature in natures)
                    {
                        <option value="@nature.name">@nature.name</option>
                    }
                </InputSelect>

            </EditForm>

        </MudCardContent>
        <MudDivider />
        <br />
    </MudCard>
}

@if (SelectedPokemon.Count != 0)
{
    <MudCard>
        <MudCardActions>
            <MudButton @onclick="() => DeleteTeam()">Delete Team?</MudButton>
        </MudCardActions>
    </MudCard>
}

<br />
<h2>Choose your team from the following. You can only choose one of each:</h2>
<br />
<p>@($"These are pokemon {offset} through {offset + 20}, going by Pokedex number:")</p>
<br />

@if (pokemon == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var p in pokemon)
    {
        <MudImage Src=@p.PokemonsSprite Alt="image of respective pokemon" />
        <MudPaper Width="200px">
            <MudList Clickable="true">
                <MudButton @onclick="() => AddToTeam(p)">Add @p.Name to team.</MudButton>
            </MudList>
        </MudPaper>

    }
    <br />
    <p>There are @pokemon.Count total pokemon.</p>
    <br />

    <br />
    <MudButton @onclick="() => PreviousButton()">Previous</MudButton>
    <MudButton @onclick="() => NextButton()">Next</MudButton>
}