@page "/NewTeam"
@using PokeTeamBuilder.Core
@inject HttpClient Http

@*Need to make it so you can't pick the same pokemon twice'*@
<PageTitle>Select your team</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Your team:</MudText>

<h2>Click each pokemon to edit their details</h2>
<br />

@foreach (var mon in SelectedPokemon)
{
    if (SelectedPokemon != null)
    {
        <img @onclick="() => ToggleStatCard(mon)" Src="@mon.PokemonsSprite" Alt="image of your pokemon" />  
    }
    
}
@if (PokemonTeamMembers.Count == 5)
{
<MudButton @onclick="() => ToggleStatCard(null)">I'm finished!</MudButton>
}

@if (CurrentMon != null)
{
    <MudCard>
        <MudCardContent>
            <MudText>Pokemon Name: @CurrentMon.Name</MudText>
            <br />
            <EditForm Model="@CurrentMon" id="StatSelection">
                <InputSelect @bind-Value=@CurrentMon.MyAbility>
                    <option disabled selected value> -- select an ability -- </option>
                    @foreach (var ability in CurrentMon.PokemonsAbilites)
                    {
                        <option value="@ability.ability.name">@ability.ability.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove1>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove2>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove3>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
                <InputSelect @bind-Value=@CurrentMon.MyMove4>
                    <option disabled selected value> -- select a move -- </option>
                    @foreach (var move in CurrentMon.PokemonsMoves)
                    {
                        <option value="@move.move.name">@move.move.name</option>
                    }
                </InputSelect>
            </EditForm>
        </MudCardContent>
    </MudCard>
}

<MudCard>
    <MudCardActions>
        <MudButton @onclick="() => DeleteTeam()">Delete Team?</MudButton>
    </MudCardActions>
</MudCard>

<br />
<h2>Choose your team from the following. You can only choose one of each:</h2>
<br />
<p>@($"These are pokemon {offset} through {offset + 20}, going by Pokedex number:")</p>
<br />

@if (pokemon == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var p in pokemon)
    {
        <MudImage Src=@p.PokemonsSprite Alt="image of respective pokemon" />
        <MudPaper Width="200px">
            <MudList Clickable="true">
                <MudButton @onclick="() => AddToTeam(p)">Add @p.Name to team.</MudButton>
            </MudList>
        </MudPaper>

    }
    <br />
    <p>There are @pokemon.Count total pokemon.</p>
    <br />

    <br />
    <MudButton @onclick="() => PreviousButton()">Previous</MudButton>
    <MudButton @onclick="() => NextButton()">Next</MudButton>
}